@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap");

#Page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: cadetblue;
  margin: 0px;
  padding: 0px;
}
/*Text*/
h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
}
h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
}
h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  font-weight: 700;
}
h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
}

/*Making an layour*/
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container h1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
.main{
  display: block;
  background-color:tomato;
  border-radius: 30px;
  padding: 20px 20px;
  margin-top: 50px;
}


/*date of birth*/
.DOB{
  position: relative;
  left: 5px;
}
.DOB input{
  padding: 5px 5px;
  margin: 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
 }
.DOB select{
  padding: 5px 5px;
  margin: 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
}



/*
Age input
*/
.Age_at{
  position: relative;
  left: 5px;
  
}
.Age_at select{
  padding: 5px 5px;
  margin: 5px 5px;
  border: 2px solid black;
  border-radius: 5px;
}
.Age_at input{
 padding: 5px 5px;
 margin: 5px 5px;
 border: 2px solid black;
 border-radius: 5px;
 
}


/*
Submit Button Section
*/
.Button{
  display: flex;
  justify-content: center;
}
.Button button{
  margin:5px 5px;
  padding: 15px 15px;
  border:2px solid rgba(120, 148, 43, 0.89);
  border-radius: 10px;
  font-size: medium;
  color: black;
}
.Button button:hover {
  background-color: white;
  color: black;
}
.age_is{
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

/*Result*/
.Result{
  display: flex;
  justify-content: center;

}
.Result h2{
  margin:10px 10px;
  padding: 30px 30px;
  border:2px solid rgba(27, 223, 230, 0.918);
  border-radius: 50%;
  color: darkslateblue;
  
}